.o_project_title_img{
    width: 50px;
    display: inline-block;
}
.o_worker_avatar_img{
    width: 70px;
    display: block;
}

.o_worker_avatar_card{
    width: 100px;
    display: inline-block;
    text-align: center;
}
.o_trash_icon{
    width: 20px;
}
.o_float_right{
    float: right;
}

.o_user_title{
    width: 70%;
    max-width: 150px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
